<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="file" 
				xsi:type="File" 
				layout="${date:format=HH\:mm\:ss.fff} | ${uppercase:${level:padding=-5}} | ${logger} | ${message}${onexception:${newline}${exception:format=tostring}}" 
				fileName=".\Logs\Updater.log" 
				archiveFileName=".\Logs\Updater_{#}.log" 
				maxArchiveFiles="14" 
				archiveEvery="Day" 
				archiveNumbering="DateAndSequence" 
				archiveAboveSize="104857600" 
				archiveDateFormat="yyyyMMdd" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>